extends layout

block content
  h1.align-center Scavanger Hunt
  include twitter.html
  h2.align-center How to play?
  div.center
    ol
      li Pick an item to find from the list.
      li 
        span Take a picture of that item and Tweet it to 
        a(href='https://twitter.com/intent/tweet?original_referer=http%3A%2F%2F192.168.99.100%3A3000%2F&ref_src=twsrc%5Etfw&related=testjesse33&screen_name=testjesse33&tw_p=tweetbutton')= "@htmlfusion"
        span , we'll reply and cross it off the list if you're the first to find it.
      li Find as many items as you can!
  h2.align-center Items
  div.center
    ul
      each val in found
        li
          span.found-item= val.text + "by"
          a(href='https://twitter.com/'+ val.tweet.user.screen_name target="blank")= " @"+val.tweet.user.screen_name
      each val in unfound
          li= val.text
